<% layout ('layout') -%>

<hr>
    <div class="container">
    <!--Put Your content here -->
	<div class="row">
	<div class="col-md-7">
		<form method="post">
<br><br>
<p>You are editing job number <%= job._id %></p>
			<div class="form-group" style="display: none;">
    	        <input type="text" name="_id" class="form-control" value="<%= job._id %>">
    	</div>
			<div class="form-group">
    	    <label for="title" class="col-sm-3 control-label">Title: </label>
    	    <div class="col-sm-9">
    	        <input type="text" name="title" class="form-control" value="<%= job.title %>">
    	    </div>
    	</div>
			<div class="form-group">
    	    <label for="field" class="col-sm-3 control-label">Field: </label>
    	    <div class="col-sm-9">
    	        <input type="text" name="field" class="form-control" value="<%= job.field.field %>">
    	    </div>
    	</div>
			<div class="form-group">
    	    <label for="type" class="col-sm-3 control-label">Type: </label>
    	    <div class="col-sm-9">
    	        <input type="text" name="type" class="form-control" value="<%= job.type %>">
    	    </div>
    	</div>
			<div class="form-group">
    	    <label for="company" class="col-sm-3 control-label">Company: </label>
    	    <div class="col-sm-9">
    	        <input type="text" name="company" class="form-control" value="<%= job.company %>">
    	    </div>
    	</div>
			<div class="form-group">
    	    <label for="address" class="col-sm-3 control-label">Address: </label>
    	    <div class="col-sm-9">
    	        <input type="text" name="address" class="form-control" value="<%= job.address %>">
    	    </div>
    	</div>
			<div class="form-group">
    	    <label for="startDate" class="col-sm-3 control-label">Start date: </label>
    	    <div class="col-sm-9">
    	        <input type="date" name="startDate" class="form-control text-justify" value="<%= job.startDate %>">
    	    </div>
    	</div>
			<div class="form-group">
    	    <label for="endDate" class="col-sm-3 control-label">End date: </label>
    	    <div class="col-sm-9">
    	        <input type="date" name="endDate" class="form-control text-justify" value="<%= job.endDate %>">
    	    </div>
    	</div>
			<div class="form-group">
    	    <label for="description" class="col-sm-3 control-label">Description: </label>
    	    <div class="col-sm-9">
    	        <input type="text" name="description" class="form-control text-justify" value="<%= job.description %>">
    	    </div>
    	</div>
			<div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <button type="submit" class="btn btn-primary btn-block">Save changes</button>
        </div>
    	</div>
		</form>
   </div>
</div>
